<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
		<meta charset="utf-8">
		<title>My Perfil</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/myperfil.css')}}">
    </head>

    gray<div class="profile-card">
        <div class="profile-card-header">
        <div class="profile-image"></div>
    
        <div class="profile-info">
            <h3 class="profile-name"></h3>
            <p class="profile-desc"></p>
        </div>
        </div>
    
        <div class="profile-card-body">
        <ul class="status">
            <li>
            <span class="status-value"></span>
            <span class="status-text"></span>
            </li>
    
            <li>
            <span class="status-value"></span>
            <span class="status-text"></span>
            </li>
    
            <li>
            <span class="status-value"></span>
            <span class="status-text"></span>
            </li>
        </ul>
    
        <div class="action">
            <button class="btn btn-pink">Edit User</button>
            <button class="btn btn-gray-outline">Back</button>
        </div>
        </div>
    </div>
  </html>